In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
df = pd.read_csv("PTR.csv")
df.head(6)

         Date       Open       High        Low      Close  Adj Close  Volume
0  2021-03-08  39.980000  40.490002  39.169998  39.360001  36.559658  283800
1  2021-03-09  38.689999  38.889999  38.160000  38.220001  35.500767  300000
2  2021-03-10  38.599998  38.669998  38.009998  38.509998  35.770130  151600
3  2021-03-11  39.230000  39.380001  39.009998  39.250000  36.457481  197900
4  2021-03-12  39.000000  39.000000  38.639999  38.689999  35.937325  142600
5  2021-03-15  39.020000  39.680000  38.680000  39.619999  36.801159  186500